body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo {
    height: 69px;
    width: auto;
    margin-top: 10px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
} 

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -10px;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
}

/* NEW SECTION - INFO */
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.container div {
    width: 250px;
    text-align: center;
}

.container div img {
    width: 100px;
    height: 100px;
}

/*NEW SECTION QUOTE */

.quote {
    background-color: #e5e7eb;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

/*NEW SECTION FINAL */

.closure {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
}

.closing-words {
    c
}

/*FOOTER */

footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
}